doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title= 'Eudora News'
    link(rel="icon" href="https://res.cloudinary.com/do8qdtgy8/image/upload/v1576431729/Eudora/0c496b9b82ec447faf6e1e319741baf2_cshtb9.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
