body {
  font: 14px Arial, "Lucida Grande", Helvetica, sans-serif;
  color: rgb(0, 81, 147);
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 400px auto 200px;
  justify-content: center;
}

.navbar {
  background-image: url(https://res.cloudinary.com/do8qdtgy8/image/upload/v1586246108/Eudora/Intreccio_70x100-min_vwkohh.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
}

.title {
  z-index: 2;
  text-align: center;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 15%;
  margin: auto;
}

a {
  text-decoration: none;
  position: relative;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 50px;
  grid-row-gap: 30px;
}

.grid-news {
  display: grid;
  grid-template-rows: 2fr 3fr;
  width: 250px;
  margin: 20px;
  box-shadow: 2px 12px 38px -8px rgba(0, 0, 0, 0.27);
  position: relative;
  border-radius: 10px;
}

.image-news {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.news {
  padding: 10px;
}

.news > a {
  bottom: 5px;
  position: absolute;
}

.newsDescription {
  margin-bottom: 25px;
  line-height: 22px;
}

.date {
  float: right;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.footer > div,
.footer > a {
  padding-top: 80px;
}

@media screen and (max-width: 900px) {
  .grid {
    justify-content: space-evenly;
  }
}
